body {
  background-color: #ffffff;
    color: #080808;
  font-family: Trebuchet MS , fantasy;
  margin: 15px;
  height: 100vh;
}

.image {
  border: 2px solid #080808;
}

.container {
  display: flex;
  background-color: #ffffff;
}

.section-one {
  display: flex;
  background-color: #2CB8C7;
  padding: 0px
}

.section-two {
  display: flex;
  height: 100%;
  background-color: #ffffff;
  padding: 300px
  text-align: center;

}

.work-history {
  border-top:2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  color: #2A8F93;
}

.exp-header {
  margin-left: -5px;
  margin-right: -3px;
  text-align: left;
  text-transform: uppercase;
  border-top: 2px solid #2a8f93;
  border-bottom: 2px solid #2a8f93;
  background-color: #2A8F93;
  color: #ffffff; 
    border-radius: 0px
}

.exp-middle {
  text-align: left;
  margin: 5px
}
<!--
ul{list-style-position: outside;
   list-style-type: ;
  margin-left: -15px;
}

li + li {
  margin-top: 20px;
}

div {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

