.body {
  background-color: #ffffff;
  color: #080808;
  margin: 15px;
  height: 100vh;
  display: 
}

.image {
  border: 2px solid #080808;
}
.container {
  display: flex;
  background-color: #ffffff;
  font-family: Trebuchet MS, fantasy;
}

.section-one {
  display: flex;
  background-color: #2CB8C7;
  padding: 0px
  min-width: 100%;
}

.image {
  margin-right: 5px;
  margin-left: 1px;
  margin-bottom: 7px;
}

.section-two {
  display: flex;
  height: 100%;
  background-color: #ffffff;
  padding: 300px
  text-align: center;
  min-width: 80%;
}

.work-history {
  border-top:2px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  color: #2A8F93;
}

.exp-header {
  margin-left: -10px;
  margin-right: -5px;
  text-indent: 15px;
  text-align: left;
  text-transform: uppercase;
  border-top: 2px solid #2a8f93;
  border-bottom: 2px solid #2a8f93;
  background-color: #2A8F93;
  color: #ffffff; 
    border-radius: 0px
}

.exp-middle {
  text-align: left;
  margin: 5px
}
<!--
ul{list-style-position: outside;
   list-style-type: ;
  margin-left: -15px;
}

li + li {
  margin-top: 20px;
}

div {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
}

/* Back to Top */

html {
  scroll-behavior: smooth;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2CB8C7;
  width: 50px;
  height: 50px;
  border-radius: 50rem;
  padding: 0.5rem;
  text-decoration: none;
  cursor: hand;
}

.back-to-top span {
  color: #ffffff;
  font-size: 3rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #2A8F93;
}

.back-to-top:hover span {
  transform: translateY(-4px);
}
