body {
  background-color: #2CB8C7;
    color: #;
  font-family: Tempus sans, sans-serif;
  margin: 5% 5%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #080808;
  border-bottom: 1px solid #080808;
  border-left: 1px solid #080808;
  border-right: 1px solid #080808;
  background-color: rgba(0,0,0,0.4);
  color: #dddddd; 
}

.exp-middle {
  text-align: center;
}
